bicm==3.4.0
geopandas==1.1.1
geopy==2.4.1
hdbscan==0.8.40
infomap==2.8.0
matplotlib==3.10.5
networkx==3.5
numpy==2.2.6
pandas==2.3.1
powerlaw==1.5
python-louvain==0.16
radialtree==0.1.0
requests==2.32.4
scikit-bio==0.7.0
scikit-learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
shapely==2.1.1
tqdm==4.67.1
